apiVersion: apps/v1
kind: Deployment
metadata:
  name: siprec-server
spec:
  replicas: 3
  template:
    spec:
      containers:
        - name: siprec-server
          resources:
            requests:
              cpu: "1000m"
              memory: "1Gi"
            limits:
              cpu: "4000m"
              memory: "4Gi"
